/* Theme options elements
----------------------------------------------*/
#sw-icon {
	background: url('../images/logo-34.png') no-repeat scroll center transparent;
}
#shiwordSlide-pages ul {
	list-style: disc inside;
	margin-left: 30px;
}
#shiwordSlide-pages-li span.wp-menu-image {
	background: url('') no-repeat scroll -151px -39px transparent;
}
#shiwordSlide-pages-li a:hover span.wp-menu-image,
#shiwordSlide-pages-li.selected span.wp-menu-image {
	background: url('') no-repeat scroll -151px -7px transparent;
}
#shiwordSlide-posts-li span.wp-menu-image {
	background: url('') no-repeat scroll -272px -39px transparent;
}
#shiwordSlide-posts-li a:hover span.wp-menu-image,
#shiwordSlide-posts-li.selected span.wp-menu-image {
	background: url('') no-repeat scroll -272px -7px transparent;
}
#shiwordSlide-posts div,
#shiwordSlide-pages div {
	margin: 0 0 20px;
}
#shiwordSlide-posts p,
#shiwordSlide-pages p {
	background-color: #ccc;
	display: block;
	font-weight: bold;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 15px 0 3px;
	padding: 3px;
}
#shiwordSlide-posts,
#shiwordSlide-pages {
	margin: 20px -1px 0;
	position: relative;
}
#tabs-container a {
	text-decoration: none;
}
#selector {
	background-image: -ms-linear-gradient(top,#F9F9F9,#E9E9E9) !important;
	background-image: -moz-linear-gradient(top,#F9F9F9,#E9E9E9) !important;
	background-image: -o-linear-gradient(top,#F9F9F9,#E9E9E9) !important;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#E9E9E9)) !important;
	background-image: -webkit-linear-gradient(top,#F9F9F9,#E9E9E9) !important;
	background-image: linear-gradient(top,#F9F9F9,#E9E9E9) !important;
    font-family: georgia;
    font-size: 15px;
    font-weight: normal;
    list-style: none outside none;
    overflow: hidden;
    padding: 0 10px 1px;
    text-shadow: 0 1px 0 #FFFFFF;
    border-radius: 5px 5px 0 0;
	margin: 0;
}
#selector a {
    display: block;
    min-width: 150px;
    padding: 5px;
    text-decoration: none;
}
#selector li {
    border-radius: 0 0 5px 5px;
    border: 1px solid #DFDFDF;
	border-top: none;
    box-shadow: 1px 1px 0 #FFFFFF;
    float: left;
    margin: 0 5px 0 0;
    white-space: nowrap;
}
.js #selector li {
    opacity: 0.5;
	filter: alpha(opacity=50);
}
#selector li span.wp-menu-image {
	float: left;
	height: 16px;
	width: 28px;
}
#selector li.selected {
    opacity: 1;
	filter: alpha(opacity=100);
	background: #E9E9E9;
}
#tabs-container {
    background: none repeat scroll 0 0 #E9E9E9;
    border: 1px solid #DFDFDF;
    border-radius: 5px 5px 0 0;
    margin: 20px 0 10px;
	border-bottom: none;
}
.ff_opt_input {
	text-align: center;
	padding: 3px;
}
.tab-hidden {
	display: none;
}
#selector li.selected a,
#selector li.selected a:hover,
#selector li.selected a:focus {
	color: #464646;
}
#sw-paged a.selected,
#sw-paged a:hover,
#sw-paged a:focus {
	color: #464646;
}
div#sw-paged {
    position: absolute;
    right: 10px;
    top: -1.8em;
}
#sw-paged a {
	border:1px solid #FFFFFF;
	font-size:11px;
	margin:0 2px;
	padding:1px 4px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-weight: bold;
}
.slide-thumb {
	margin: 0;
	vertical-align: text-top;
}