/* Shiword v0.8 - stylesheet for custom colors */

#sw-icon {
	background: url('../images/logo-34.png') no-repeat scroll center transparent;
}
#headimg-bg {
	border: 1px solid #777 !important;
	background: #F2F2F2 url('../images/custombg.png') left top repeat-x;
	padding:20px;
}
#headimage {
	border-color:#fff #777 #404040 !important;
	border-style:solid !important;
	border-width:1px !important;
	background-position:right bottom;
	-moz-box-shadow: 0 0 7px #000;
	-webkit-box-shadow: 0 0 7px #000;
	box-shadow: 0 0 7px #000;
	-moz-border-radius: 15px;
	-khtml-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	line-height:normal;
	width:760px;
	margin:0 auto;
}
#headimg_overlay {
	background: transparent url('../images/pad_overlay.png') left top repeat-x;
	padding:5px 20px 20px;
}
#headimage h1 {
	margin:0 0 5px;
	padding-left:50px;
}
#headimage #name {
	font-size:1.5em;
	font-style:italic;
	text-decoration:none;
}
#headimage #desc {
	font-size:11px;
	font-style:italic;
	padding-left:50px;
}
.default-device-image {
	float: left;
	margin:10px;
}
.default-device-image img{
	background:#fff url('../images/devbg.png') left top repeat;
	padding:10px;
	vertical-align:middle;
	border:1px solid #777;
}
.button,
.button-secondary,
.submit input,
input[type="button"],
input[type="submit"] {
	vertical-align:middle;
}
.wrap .form-table td,
.wrap .form-table th {
	padding:5px 10px !important;
}
#preview-main {
	margin:10px 50px;
	padding-top:5px;
	position:relative;
	text-align:center;
	border-style:solid;
	border-width:1px;
	background-color: #111;
	color:#aaa;
}
#preview-main span{
	padding: 5px;
	border-right: 1px solid transparent;
}
#preview-button {
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border-style:solid;
	border-width:3px;
	bottom:5px;
	display:block;
	height:50px;
	left:-64px;
	position:absolute;
	width:50px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: left -240px;
}
#preview-navi {
	display:block;
	height:216px;
	right:-49px;
	position:absolute;
	width:24px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: left top;
	bottom:5px;
}
#preview-navi.sw-variant-light {
	background-image: url('../images/minibuttons-light.png');
}
#preview-navi.sw-variant-dark {
	background-image: url('../images/minibuttons-dark.png');
}
#preview-button.sw-variant-light {
	background-image: url('../images/minibuttons-light.png');
}
#preview-button.sw-variant-dark {
	background-image: url('../images/minibuttons-dark.png');
}

#preview-pages {
	border-bottom:5px solid #ccc;
	border-top:5px solid #ccc;
	padding:5px 0;
}
#preview-meta {
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #404040;
	border:1px solid #fff;
	margin:10px 50px;
	padding:5px;
}
#preview-menu {
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color:#111;
	border:5px solid #fff;
	bottom:5px;
	left:5px;
	padding:10px;
	position:absolute;
	height:60px;
	-moz-box-shadow: 1px 1px 4px #000;
	-webkit-box-shadow: 1px 1px 4px #000;
	box-shadow: 1px 1px 4px #000;
}
#preview-footer {
	border-top:1px solid #ccc;
	padding:10px 0 40px;
	background-color: #404040;
	color:#aaa;
}
#preview-body {
	margin:20px 100px;
	padding:10px;
	color:#aaa;
}
#preview-pages .preview-link, #preview-menu .preview-link,
#preview-pages .preview-linkhi, #preview-menu .preview-linkhi {
	text-shadow:1px 1px 1px #000;
}
.color_preview_box {
	width:2em;
	border:1px solid #262626;
}
.h3_field {
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 7px #000;
	-webkit-box-shadow: 0 0 7px #000;
	box-shadow: 0 0 7px #000;
	background-color:#aaa;
	border:1px solid;
	color:#fff;
	padding:5px;
}
.h3_field a {
	text-decoration:none;
}
div.slider {
	position: relative;
	width: 220px;
	padding: 8px 0;
	display: inline-block;
	margin-bottom: -5px;
}
div.slider div.handle { 
	background:transparent url('../images/handle.png') left top no-repeat;
	width:15px; 
	height:20px; 
	cursor:pointer; 
	position: absolute;
	top: 0;
}
#alpha_bar {
	background-color: #CCCCCC;
	border: 1px inset #999999;
	height: 1px;
	margin: 0 10px;
	position: relative;
	width: 200px;
}
