/* Shiword - stylesheet for login */

#login h1 a {
	background: url("../../../../wp-admin/images/wp-logo.png") no-repeat scroll center top transparent;
	height:32px;
	margin-left:285px;
	width:32px;
	display: block;
	padding: 0;
}
body { 
	background:url("../images/custombg.png") repeat-x fixed left bottom #B6B6B6 !important; 
	padding-top: 50px;
	padding-bottom: 300px;
}
#login {
	border-radius: 5px;
	box-shadow: 0px 0px 8px #000;
	background-color:#262626;
	border:1px solid #ccc;
	padding-top:4px;
	padding-bottom:4px;
}
#login form {
	color:#fff;
	border: none;
	background: none;
	margin: 0;
	box-shadow: none;
}
#login_error,
.message {
	margin: 0 8px 16px !important;
}
#nav,
#backtoblog {
	text-shadow:0 1px 0 #000 !important;
}
#user_pass:hover,
#user_login:hover,
#user_email:hover,
#user_pass:focus,
#user_login:focus,
#user_email:focus {
	border-color :#FF8D39;
}
@media (max-width: 480px) {
	body { 
		background: #262626 !important; 
		padding: 0;
	}
	#login {
		border: none;
		box-shadow: none;
		padding:0;
	}
}
