/* Theme options elements
----------------------------------------------*/
#shiwordSlide-pages ul {
	list-style: disc inside;
	margin-left: 30px;
}
#shiwordSlide-pages-li span.wp-menu-image {
	background: url('') no-repeat scroll -151px -39px transparent;
}
#shiwordSlide-pages-li a:hover span.wp-menu-image,
#shiwordSlide-pages-li.tab-selected span.wp-menu-image {
	background: url('') no-repeat scroll -151px -7px transparent;
}
#shiwordSlide-posts-li span.wp-menu-image {
	background: url('') no-repeat scroll -272px -39px transparent;
}
#shiwordSlide-posts-li a:hover span.wp-menu-image,
#shiwordSlide-posts-li.tab-selected span.wp-menu-image {
	background: url('') no-repeat scroll -272px -7px transparent;
}
#shiwordSlide-posts div,
#shiwordSlide-pages div {
	margin: 0 0 20px;
}
#shiwordSlide-posts p,
#shiwordSlide-pages p {
	background-color: #ccc;
	display: block;
	font-weight: bold;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 15px 0 3px;
	padding: 3px;
}
#shiwordSlide-posts,
#shiwordSlide-pages {
	margin: 20px;
}
#selector {
	list-style: none;
	margin-left: 20px;
}
#tabs-container a {
	font-weight: bold;
	text-decoration: none;
}
#selector li {
	float: left;
	width: 120px;
	margin: 0;
	padding: 5px 15px;
}
#selector li span.wp-menu-image {
	float: left;
	height: 16px;
	width: 28px;
}
#selector li.tab-selected {
	background-color: #404040;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-moz-box-shadow: 0px 2px 8px #404040;
	-webkit-box-shadow: 0px 2px 8px #404040;
	box-shadow: 0px 2px 8px #404040;
	-moz-border-radius: 0 0 5px 5px;
	-khtml-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
#tabs-container .jump_bottom {
	position: absolute;
	right:20px;
	top:10px;
	padding:2px 25px 2px 2px;
	background: #eee url('../images/minibuttons.png') no-repeat right -192px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#tabs-container {
	background-color: #aaa;
	width: 100%;
	margin: 20px auto;
	border: 1px solid #fff;
	position: relative;
	-moz-box-shadow: 0px 2px 8px #404040;
	-webkit-box-shadow: 0px 2px 8px #404040;
	box-shadow: 0px 2px 8px #404040;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.ff_opt_input {
	text-align: center;
	padding: 3px;
}
.tab-hidden {
	display: none;
}
.tab-selected a,
.tab-selected a:hover,
.tab-selected a:focus {
	color: #fff;
	text-shadow: 1px 1px 2px #000;
}
div#sw-paged {
	text-align: center;
	margin: 0 0 5px;
}
#sw-paged a {
	border:1px solid #FFFFFF;
	font-size:11px;
	margin:0 2px;
	padding:1px 4px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}