/* Shiword v0.7 - stylesheet for theme options */

#stylediv {
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 8px #000;
	-webkit-box-shadow: 0px 0px 8px #000;
	box-shadow: 0px 0px 8px #000;
	background:url("../images/pad_overlay.png") repeat-x scroll left top #0A0A0A;
	border:1px solid #fff;
	margin:20px 0 10px;
	max-width:800px;
	padding:0 20px 20px;	
}
#stylediv h3 {
	color:#fff;
}
#stylediv td,
#stylediv th {
	border-top:1px solid #ddd;
	padding:3px 10px;
	font-size:11px;
}
.stylediv {
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #F5F5F5;
	border:1px solid #CCCCCC;
	margin-bottom:10px;
	max-width: 800px;
	padding: 0 10px 10px;
}