/* Shiword v0.6 - stylesheet for theme options */

#stylediv {
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color:#FFFFFF;
	border:1px solid #E3E3E3;
	margin:20px 0 10px;
	max-width:800px;
}
#stylediv h3 {
	-moz-border-radius:10px 10px 0 0;
	-khtml-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	background:url("../../../../wp-admin/images/menu-bits.gif") repeat-x scroll left -379px #F1F1F1;
	font-size:1em;
	margin:0;
	padding:5px 10px;
	text-shadow:1px 1px 0 #FFFFFF;
	color:#404040;
}
#stylediv td, #stylediv th {
	border-top:1px solid #DDDDDD;
	padding:3px 10px;
	font-size:11px;
}
