.wp_themeSkin iframe {
    background: #222;
}
html .mceContentBody {
	max-width:560px;
	font-family: verdana;
	font-size: 11px;
	color: #aaa;
	background-color: #111;
	margin: 0 auto;
}
a img {
	border: none;
}
a {
	text-decoration: none;
	color: #21759b;
}
a:hover {
	color: #ff8d39;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: .5em 0;
}
p {
	line-height: 1.3em;
	margin: 1em 0;
}
ul,
ol {
	margin: 0;
	padding: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
	margin-left: 10px;
}
ul {
	list-style: disc inside url('images/litem.png');
}
ol {
	list-style: decimal inside none;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 0 .5em 40px;
}
fieldset {
	border: 1px solid #ccc;
	padding: 8px;
}
blockquote {
	border-left: 5px solid #ccc;
	margin-left: 15px;
	padding-left: 15px;
	font-style: italic;
}
pre,
code,
tt,
kbd {
	font: 1.2em "Courier New", monospace;
	letter-spacing: 1px;
	padding: 0 8px;
}
pre {
	background-color: #fff;
	border: 1px solid #ccc;
	display: block;
	overflow: auto;
	white-space: pre;
	max-width: 100%;
	margin: 5px auto;
	padding: 5px;
}
table {
	background-color: #262626;
	border-collapse: collapse;
	border: 1px solid #404040;
}
th {
	border-bottom: 1px solid #aaa;
}
td {
	border-bottom: 1px solid #404040;
}
td,
th {
	padding: 3px 6px;
}
input {
	font-size: 1.1em;
}
select {
	background-color: #262626;
	border: 1px solid #777;
	color: #aaa;
	max-width: 100%;
}
object,
embed {
	max-width: 100%;
}
textarea,
input[type=text],
input[type=password] {
	border: 1px solid #ccc;
}
input[type=button],
input[type=submit],
input[type=reset] {
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #111111;
	border: 2px solid #fff;
	color: #ccc;
	font-weight: bold;
	margin: 3px;
}
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
	border: 2px solid #ff8d39;
	cursor: pointer;
}
textarea:hover,
input[type=text]:hover,
input[type=password]:hover,
textarea:focus,
input[type=text]:focus,
input[type=password]:focus {
	border: 1px solid #ff8d39;
}
.fixfloat {
	clear: both;
}
.aligncenter,
div.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
}
img.alignright,
.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
img.wp-post-image {
	margin: 0;
}
.wp-caption {
	-moz-box-shadow: 2px 2px 2px #000;
	box-shadow: 2px 2px 2px #000;
	-webkit-box-shadow: 2px 2px 2px #000;
	background-color: #262626;
	border: 1px solid #ccc;
	padding-top: 4px;
	text-align: center;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	margin: 10px;
	max-width: 100%;
}
.wp-caption img {
	border: 0 none;
	margin: 0;
	padding: 0;
}
.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}
.wp-pagenavi {
	text-align: center;
}
.category-gallery .size-thumbnail img {
	border: 10px solid #fff;
	margin-bottom: 0;
}
.category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.category-gallery .entry-utility {
	padding-top: 4px;
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery .gallery-caption {
	color: #777;
	font-size: 10px;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 1px solid #ccc;
}
.gallery br+br {
	display: none;
}
