html body {
	background-color: #111;
	color: #fff;
	font-family: arial,sans-serif;
	font-size: 14px;
	margin: 0;
}
a img {
	border: none;
}
a {
	text-decoration: none;
	color: #21759b;
}
a:hover,
a:focus {
	color: #ff8d39;
}
blockquote {
	border-left: 3px solid #ccc;
	margin-left: 5px;
	padding-left: 5px;
	font-style: italic;
}
pre,
code,
tt,
kbd {
	font: 1em "Courier New", monospace;
	letter-spacing: 1px;
	padding: 0 8px;
}
code {
	background-color: #262626;
}
pre {
	background-color: #fff;
	border: 1px solid #ccc;
	display: block;
	overflow: auto;
	white-space: pre;
	max-width: 100%;
	margin: 5px auto;
	padding: 5px;
	color: #404040;
}
.fixfloat {
	clear: both;
}
#head h1 {
	margin:0;
}
#head a {
	background: #1a1a1a url("images/head.png") left center repeat-x;
	padding: 10px 5px;
	display: block;
	text-shadow: -1px -1px 0 #000;
}
.post {
	clear: both;
}
.sw-padded {
	padding: 5px;
	clear: both;
}
.sw-post img {
	max-width:100%;
	height:auto;
}
.sw-even {
}
.sw-group {
	margin:0;
	padding: 0;
	line-height: 1.7em;
	list-style: none outside none;
}
.sw-group li {
	margin:0;
	background: #1a1a1a url("images/arr_r.png") right center no-repeat;
	border-top: 1px solid #333;
	border-bottom: 1px solid #000;
}
.sw-group li a {
	display: block;
	padding: 5px 30px 5px 5px ;
}
.sw-group li span.sw-details {
	color: #fff;
	font-size: 11px;
}
.halfsep {
	background-image: url("images/half-divider.png");
	background-repeat: repeat-y;
	background-position: center top;
}
.sw-halfspan {
	width: 48%;
	display: block;
}
.sw-halfspan a {
	display: block;
}
.sw-next {
	float: right;
	text-align: right;
	background: transparent url("images/arr_r.png") right center no-repeat;
}
.sw-prev {
	float: left;
	text-align: left;
	background: transparent url("images/arr_l.png") left center no-repeat;
}
.sw-next a {
	padding: 5px 30px 5px 5px ;
}
.sw-prev a {
	padding: 5px 5px 5px 30px ;
}
.sw-navi {
	clear: both;
	background-color: #1a1a1a;
	border-top: 1px solid #333;
	border-bottom: 1px solid #000;
	line-height: 1.7em;
}
.sw-seztit,
#reply-title {
	background: transparent url("images/title-divider.png") left center repeat-x;
	font-size: 11px;
	color: #ccc;
	text-align: center;
	margin: 20px 0 10px;
}
.sw-seztit span,
#reply-title span,
#cancel-comment-reply-link {
	background-color: #111;
	padding: 0 5px;
}
#search {
	margin: 5px;
	text-align: center;
}
#themecredits {
	text-align: center;
	font-size: 11px;
	letter-spacing: 1px;
	color: #555;
}
.sw-pc-navi {
	clear: both;
	text-align: center;
	margin: 20px 0;
}
.sw-pc-navi a {
    background: #1a1a1a;
    border-radius: 3px 3px 3px 3px;
    padding: 0.3em 0.5em;
    border-color: #333 #000 #000 #333;
    border-style: solid;
    border-width: 1px;
}
.sw-post {
	clear: both;
	padding: 0 5px;	
}
.commentlist {
	padding: 0;
	margin: 0;
}
.commentlist ul.children {
	padding: 0;
	margin: 0;
	list-style: none outside none;
}
.commentlist .comment-body {
	border-bottom: 1px solid #333;
	padding: 0 10px 10px;
	margin-bottom: 20px;
}
.commentmetadata {
	font-size: 11px;
	color: #555;
}
.comment-author {
	font-size: 13px;
	color: #555;
}
.comment-author cite {
	font-weight: bold;
}
.comment-body .reply {
	clear: both;
	text-align: right;
	margin-top: 10px;
}
.comment-reply-link {
    background: #1a1a1a url("../images/comment_reply.png") 5px center no-repeat;
    font-size: 10px;
    padding: 5px 5px 5px 30px;
    border-color: #333 #000 #000 #333;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px 3px 3px 3px;
}
.trackback .comment-reply-link,
.pingback .comment-reply-link,
.trackback .says,
.pingback .says {
	display: none;
}
#commentform {
	padding: 0 10px;
}
#sw-reccom {
	padding: 0;
	margin: 0;
	list-style: none outside none;
}
#sw-reccom li {
	border-bottom: 1px solid #333;
	padding: 0 5px 10px;
	margin-bottom: 10px;
	font-size: 11px;
}
#sw-reccom .preview {
	font-size: 14px;
}
.format-gallery .gallery-thumb, .category-gallery .gallery-thumb,
.format-image .gallery-thumb, .category-image .gallery-thumb {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #404040;
	padding: 5px;
}
.format-gallery .size-thumbnail img,
.category-gallery .size-thumbnail img,
.format-image .size-thumbnail img,
.category-image .size-thumbnail img {
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin: 0 6px 12px;
	border: 1px solid #404040;
	padding: 5px;
	text-align: center;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
}
.img-caption {
	border: 1px solid #404040;
	padding: 5px;
	text-align: center;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	margin: 10px;
	max-width: 94%;
}
.img-caption img {
	border: 0 none;
	margin: 0;
	padding: 0;
}
.img-caption .img-caption-inside {
	position: relative;
}
.img-caption .img-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	width: 100%;
	padding: 0 0 5px;
	background: url('../images/device/black.png') repeat left top transparent;
	position: absolute;
	bottom: 0;
	left: 0;
}
.img-caption:hover .img-caption-text {
	display: none;
}
.aligncenter,
div.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
.alignleft {
	float: left;
	margin-right: 12px;
}
img.alignright,
.alignright {
	float: right;
	margin-left: 12px;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}